.movie-card {
  background-color: var(--background-secondary);
  color: var(--text-color);
  border-color: var(--text-color);
  width: 300px;
  max-width: 300px;
}

.movie-card-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.movie-card-body {
  padding: 10px;
}

.movie-poster {
  padding: 10px;
  height: 200px;
}

.trigger-container {
  background-color: var(--background-secondary);
  border-radius: 4px;
  padding: 4px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.trigger-container:hover {
  cursor: pointer;
  background-color: var(--icon-color-blue);
  color: var(--background-primary);
  border: 1px solid var(--background-primary);
}

.trigger-container:hover .card-icon {
  color: var(--background-primary);
}

.trigger-content {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.card-icon {
  color: var(--text-color);
}
