:root {
  --background-primary: #020202;
  --background-secondary: #1a1a1b;
  --background-tertiary: #5c527f;
  --background-sec-two: #323233;
  --text-color: #b4b6b8;
  --button-white: #d7dadc;
  --icon-color-yellow: #f0c929;
  --icon-color-blue: #2b7bcd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
